/* -----------------ROOT----------------- */

/* -----------------HOME----------------- */
:root {
  width: 100vw;
  height: 100vh;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: #D4E2B6;
  margin: 0%;
}

.row {
  margin: 0%;
}


/* -----------------HEADER----------------- */
nav {
  background-color: #D4E2B6;
  display: flex;
  justify-content: center;
}

#header {
  width: 100vw;
  margin: 0%;
  padding: 0%;
}

#header-container {
  width: 100vw;
  margin: 0%;
  padding: 0%;
  background-color: #D4E2B6;
  display: flex;
  justify-content: center;
}

#nav-container {
  width: 100vw;
  padding: 0%;
}

#title {
  margin: 0%;
  padding: 0%;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 350%;
  font-weight: bold;
  color: #539FA2;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: black;
}


/* -----------------LOGIN----------------- */
.form-control {
  background-color: #F0F6E7;
  stroke: #539FA2;
}

#login-container {
  background-color: #D4E2B6;
  display: flex;
  justify-content: center;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 250%;
  font-weight: bold;
  color: #539FA2;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: black;
}

#info-inputs {
  width: 100%;
  background-color: #D4E2B6;
}

#inputs {
  margin: 0%;
  padding: 0%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  font-family: 'Plus Jakarta Sans', sans-serif;
}
